<nav class="blue darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Банк ВТБ</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">      
        {{#if isAuth}}
          {{#if isHome}}
            <li class="active"><a href="/home">Главная</a></li>
          {{else}}
            <li><a href="/home">Главная</a></li>
          {{/if}}

          {{#if isCabinet}}
            <li class="active"><a href="/cabinet">Личный кабинет</a></li>
          {{else}}
            <li><a href="/cabinet">Личный кабинет</a></li>
          {{/if}}
          <li><a href="/logout">Sign out</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>