<h2>Это ваш кабинет</h2>

<p>Здесь будут проводиться транзакции</p>

<div class="auth"> 
    <div id="login" class="col s6 offset-s3"> 
      <h4>Перевести бабло</h4>
      <form action="/" method="POST">
        <div class="input-field">
            <input id="email" name="email" type="email" class="validate" required min="1">
            <label for="email">Идентификатор пользователя</label>
            <span class="helper-text" data-error="Введите e-mail получателя"></span>
        </div>
        <div class="input-field">
            <input id="amount" name="amount" type="number" class="validate" required min="1">
            <label for="amount">Сумма перевода</label>
            <span class="helper-text" data-error="Введите сумму перевода"></span>
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary" type="submit" id="button-submit">Перевести</button>
      </form>
    </div>
</div>